@import './variables.css';



 /*$$$$$$                                                                    /$$
| $$__  $$                                                                  | $$
| $$  \ $$  /$$$$$$   /$$$$$$$ /$$   /$$ /$$$$$$/$$$$   /$$$$$$  /$$$$$$$  /$$$$$$
| $$  | $$ /$$__  $$ /$$_____/| $$  | $$| $$_  $$_  $$ /$$__  $$| $$__  $$|_  $$_/
| $$  | $$| $$  \ $$| $$      | $$  | $$| $$ \ $$ \ $$| $$$$$$$$| $$  \ $$  | $$
| $$  | $$| $$  | $$| $$      | $$  | $$| $$ | $$ | $$| $$_____/| $$  | $$  | $$ /$$
| $$$$$$$/|  $$$$$$/|  $$$$$$$|  $$$$$$/| $$ | $$ | $$|  $$$$$$$| $$  | $$  |  $$$$/
|_______/  \______/  \_______/ \______/ |__/ |__/ |__/ \_______/|__/  |__/   \__*/

html {
    /* Visuals */
    background: var(--background);

    /* Text */
    color: var(--onBackground);
    font-family: var(--textFont);
    font-size: 16px;
    user-select: none;

    /* Other */
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    --scrollbarSize: 16px;

    /* Size */
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    /* Layout */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

::-webkit-scrollbar {
    /* Size */
    width: var(--scrollbarSize);
    height: var(--scrollbarSize);

    /* Visuals */
    background: var(--hover);
    border-radius: calc(var(--scrollbarSize) / 2);
    border: solid 4px transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb {
    /* Size */
    min-height: min(69px, 100%);

    /* Visuals */
    background: var(--onBackground);
    border-radius: calc(var(--scrollbarSize) / 2);
    border: solid 4px transparent;
    background-clip: content-box;

    /* Other */
    transition: border .3s;
}

::-webkit-scrollbar-thumb:hover {
    /* Visuals */
    border: solid 3px transparent;
}



 /*$$$$$$$                  /$$ /$$
|__  $$__/                 | $$| $$
   | $$  /$$$$$$   /$$$$$$ | $$| $$$$$$$   /$$$$$$   /$$$$$$
   | $$ /$$__  $$ /$$__  $$| $$| $$__  $$ |____  $$ /$$__  $$
   | $$| $$  \ $$| $$  \ $$| $$| $$  \ $$  /$$$$$$$| $$  \__/
   | $$| $$  | $$| $$  | $$| $$| $$  | $$ /$$__  $$| $$
   | $$|  $$$$$$/|  $$$$$$/| $$| $$$$$$$/|  $$$$$$$| $$
   |__/ \______/  \______/ |__/|_______/  \_______/|_*/

.toolbar {
    /* Size */
    width: 100vw;
    height: 45px;
    padding-right: 10px;

    /* Layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    /* Visuals */
    background-color: var(--background);
    z-index: 1;
}

.toolbar-button {
    /* Size */
    min-width: fit-content;
    width: 50px;
    height: 26px;
    padding: 0 13px;

    /* Layout */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Visuals */
    border-radius: 15px;

    /* Other */
    cursor: pointer;
    transition: background-color .1s;
}

.toolbar-button:hover {
    /* Visuals */
    background-color: var(--hover);
}

.toolbar-button[exit]:hover {
    /* Visuals */
    background-color: #c42b1c;
}

.toolbar-drag {
    /* Size */
    flex: 1;
    min-width: 0;
    height: 100%;
    padding-left: 10px;

    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;

    /* Other */
    -webkit-app-region: drag;
}

.toolbar-drag > img {
    /* Size */
    width: 20px;
    height: 20px;

    /* Other */
    -webkit-user-drag: none;
}

.toolbar-drag > span {
    /* Size */
    max-width: 100%; 

    /* Layout */
    display: block; 

    /* Text */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



  /*$$$$$                        /$$                           /$$
 /$$__  $$                      | $$                          | $$
| $$  \__/  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$  /$$$$$$$  /$$$$$$
| $$       /$$__  $$| $$__  $$|_  $$_/   /$$__  $$| $$__  $$|_  $$_/
| $$      | $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \ $$  | $$
| $$    $$| $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$  | $$  | $$ /$$
|  $$$$$$/|  $$$$$$/| $$  | $$  |  $$$$/|  $$$$$$$| $$  | $$  |  $$$$/
 \______/  \______/ |__/  |__/   \___/   \_______/|__/  |__/   \__*/

.content {
    /* Size */
    flex: 1;

    /* Layout */
    overflow-y: scroll;
    overflow-x: hidden;
}

.page {
    /* Size */
    width: min(90vh, 100vw);
    margin: 30px auto;

    /* Layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page-title {
    /* Text */
    font-family: var(--headerFont);
    font-weight: bold;
    font-size: 3rem;
}

.page-hc {
    /* Layout */
    display: flex;
    flex-direction: row;
    gap: 20px;
}