@import './variables.css';



 /*$$$$$$                                                                    /$$
| $$__  $$                                                                  | $$
| $$  \ $$  /$$$$$$   /$$$$$$$ /$$   /$$ /$$$$$$/$$$$   /$$$$$$  /$$$$$$$  /$$$$$$
| $$  | $$ /$$__  $$ /$$_____/| $$  | $$| $$_  $$_  $$ /$$__  $$| $$__  $$|_  $$_/
| $$  | $$| $$  \ $$| $$      | $$  | $$| $$ \ $$ \ $$| $$$$$$$$| $$  \ $$  | $$
| $$  | $$| $$  | $$| $$      | $$  | $$| $$ | $$ | $$| $$_____/| $$  | $$  | $$ /$$
| $$$$$$$/|  $$$$$$/|  $$$$$$$|  $$$$$$/| $$ | $$ | $$|  $$$$$$$| $$  | $$  |  $$$$/
|_______/  \______/  \_______/ \______/ |__/ |__/ |__/ \_______/|__/  |__/   \__*/

html {
    /* Visuals */
    background: var(--background);

    /* Text */
    color: var(--onBackground);
    font-size: var(--textSize);
    font-family: var(--textFont);
    user-select: none;

    /* Other */
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    --scrollbarSize: 16px;

    /* Size */
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    /* Layout */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

::-webkit-scrollbar {
    /* Size */
    width: var(--scrollbarSize);
    height: var(--scrollbarSize);

    /* Visuals */
    background: var(--hover);
    border-radius: calc(var(--scrollbarSize) / 2);
    border: solid 4px transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb {
    /* Size */
    min-height: min(69px, 100%);

    /* Visuals */
    background: var(--onBackground);
    border-radius: calc(var(--scrollbarSize) / 2);
    border: solid 4px transparent;
    background-clip: content-box;

    /* Other */
    transition: border .3s;
}

::-webkit-scrollbar-thumb:hover {
    /* Visuals */
    border: solid 3px transparent;
}

*::selection {
    background-color: var(--selection);
}



 /*$$$$$$$                  /$$ /$$
|__  $$__/                 | $$| $$
   | $$  /$$$$$$   /$$$$$$ | $$| $$$$$$$   /$$$$$$   /$$$$$$
   | $$ /$$__  $$ /$$__  $$| $$| $$__  $$ |____  $$ /$$__  $$
   | $$| $$  \ $$| $$  \ $$| $$| $$  \ $$  /$$$$$$$| $$  \__/
   | $$| $$  | $$| $$  | $$| $$| $$  | $$ /$$__  $$| $$
   | $$|  $$$$$$/|  $$$$$$/| $$| $$$$$$$/|  $$$$$$$| $$
   |__/ \______/  \______/ |__/|_______/  \_______/|_*/

.toolbar {
    /* Size */
    width: 100vw;
    height: 45px;
    padding-right: 10px;

    /* Layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    /* Visuals */
    background-color: var(--background);
    z-index: 1;
}

.toolbar-button {
    /* Size */
    min-width: fit-content;
    width: 50px;
    height: 26px;
    padding: 0 13px;

    /* Layout */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Visuals */
    border-radius: 15px;

    /* Other */
    cursor: pointer;
    transition: background-color .1s;
}

.toolbar-button:hover {
    /* Visuals */
    background-color: var(--hover);
}

.toolbar-button[exit]:hover {
    /* Visuals */
    background-color: #c42b1c;
}

.toolbar-drag {
    /* Size */
    flex: 1;
    min-width: 0;
    height: 100%;
    padding-left: 10px;

    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;

    /* Other */
    -webkit-app-region: drag;
}

.toolbar-drag > img {
    /* Size */
    width: 20px;
    height: 20px;

    /* Other */
    -webkit-user-drag: none;
}

.toolbar-drag > span {
    /* Size */
    max-width: 100%; 

    /* Layout */
    display: block; 

    /* Text */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



  /*$$$$$                                                                              /$$
 /$$__  $$                                                                            | $$
| $$  \__/  /$$$$$$  /$$$$$$/$$$$   /$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$  /$$$$$$$  /$$$$$$   /$$$$$$$
| $$       /$$__  $$| $$_  $$_  $$ /$$__  $$ /$$__  $$| $$__  $$ /$$__  $$| $$__  $$|_  $$_/  /$$_____/
| $$      | $$  \ $$| $$ \ $$ \ $$| $$  \ $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  \ $$  | $$   |  $$$$$$
| $$    $$| $$  | $$| $$ | $$ | $$| $$  | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$  | $$ /$$\____  $$
|  $$$$$$/|  $$$$$$/| $$ | $$ | $$| $$$$$$$/|  $$$$$$/| $$  | $$|  $$$$$$$| $$  | $$  |  $$$$//$$$$$$$/
 \______/  \______/ |__/ |__/ |__/| $$____/  \______/ |__/  |__/ \_______/|__/  |__/   \___/ |_______/
                                  | $$
                                  | $$
                                  |_*/

/* Button */
button {
    --width: 60px;
    --height: 36px;
    --horizontalPadding: 16px;

    /* Size */
    min-width: var(--width);
    width: fit-content;
    height: var(--height);
    margin: 0;
    padding: 0 var(--horizontalPadding);

    /* Layout */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;

    /* Appearence */
    appearance: none;
    background-color: var(--accent);
    border-radius: calc(var(--height) / 2);
    border: none;
    font-family: var(--textFont);
    font-size: 0.9em;

    /* Other */
    cursor: pointer;
    transition: border-radius .1s;
}

button[icon] {
    --width: var(--height);
}

button:disabled {
    /* Other */
    cursor: not-allowed;
}

button:not(:disabled):active {
    /* Appearence */
    border-radius: calc(var(--height) / 4);
}

/* Switch */
input[type="checkbox"] {
    --width: 60px;
    --height: 36px;
    --thumb: 24px;
    --thumbSpace: calc((var(--height) - var(--thumb)) / 2);

    /* Size */
    min-width: var(--width);
    width: var(--width);
    height: var(--height);
    margin: 0;
    padding: 0;

    /* Layout */
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-sizing: border-box;

    /* Appearence */
    appearance: none;
    background-color: var(--accent);
    border-radius: calc(var(--height) / 2);

    /* Other */
    cursor: pointer;
    transition: border-radius .1s, background-color .1s;
}

input[type="checkbox"]:not(:disabled):not(:checked) {
    /* Appearence */
    background-color: color-mix(in srgb, var(--accent) 75%, var(--background) 25%);
}

input[type="checkbox"]:not(:disabled):active {
    /* Appearence */
    border-radius: calc(var(--height) / 4);
}

input[type="checkbox"]::before {
    content: '';
    --thumbSize: calc((var(--height) - calc(var(--thumbSpace)) * 2));

    /* Size */
    width: var(--thumbSize);
    height: var(--thumbSize);

    /* Layout */
    position: absolute;
    top: var(--thumbSpace);
    left: var(--thumbSpace);

    /* Appearence */
    border-radius: var(--height);
    background: var(--onBackground);

    /* Other */
    transition: width .2s, height .2s, top .2s, left .2s;
}

input[type="checkbox"]:not(:disabled):active::before {
    /* Size */
    width: calc(var(--thumbSize) + 2px);
    height: calc(var(--thumbSize) + 2px);

    /* Layout */
    top: calc(var(--thumbSpace) - 1px);
    left: calc(var(--thumbSpace) - 1px);
}

input[type="checkbox"]:checked::before {
    /* Layout */
    left: calc(var(--width) - var(--thumb) - var(--thumbSpace));
}

input[type="checkbox"]:checked:not(:disabled):active::before {
    /* Layout */
    left: calc(var(--width) - var(--thumb) - var(--thumbSpace) - 1px);
}

input[type="checkbox"]:disabled::before {
    /* Appearence */
    opacity: 0.5;
}

/* Text */
input[type="text"] {
    --width: 100px;
    --height: 36px;

    /* Size */
    min-width: var(--width);
    width: var(--width);
    height: var(--height);
    margin: 0;
    padding: 0 16px;

    /* Layout */
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-sizing: border-box;

    /* Appearence */
    appearance: none;
    background-color: var(--accent);
    border-radius: calc(var(--height) / 2);
    border: none;
    font-family: var(--textFont);
    font-size: 0.9em;

    /* Other */
    cursor: text;
    transition: border-radius .1s;
}

input[type="text"]:not(:disabled):focus {
    /* Appearence */
    border-radius: calc(var(--height) / 4);
}

input[type="text"]::placeholder {
    /* Appearence */
    color: var(--onBackgroundAlt);
}

/* Inputs */
input:disabled {
    /* Other */
    cursor: not-allowed;
}

/* Lists */
ul, ol {
    /* Size */
    margin: 0;
    padding: 0 0 0 20px;
}

/* Items */
.item {
    /* Size */
    padding: 10px 16px;

    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    /* Appearence */
    background-color: var(--surface);
    color: var(--onSurface);
    border-radius: 20px;
}

.item-text {
    /* Size */
    flex: 1;

    /* Layout */
    display: flex;
    flex-direction: column;
}

.item-title {
    /* Size */
    margin-bottom: 5px;

    /* Appearence */
    font-weight: bold;
}

.item-description {
    /* Appearence */
    color: var(--onSurfaceAlt);
}

/* Loading indicator */
loading {
    --size: 30px;

    /* Size */
    min-width: var(--size); 
    min-height: var(--size);
    width: var(--size); 
    height: var(--size);

    /* Layout */
    position: relative;
    box-sizing: border-box;

    /* Appearence */
    border-radius: calc(var(--size) / 2);
    border: 3px solid transparent;
    border-top: 3px solid var(--accent);
    animation: loadingAnimation 1s linear infinite;
}

@keyframes loadingAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



  /*$$$$$                        /$$                           /$$
 /$$__  $$                      | $$                          | $$
| $$  \__/  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$  /$$$$$$$  /$$$$$$
| $$       /$$__  $$| $$__  $$|_  $$_/   /$$__  $$| $$__  $$|_  $$_/
| $$      | $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \ $$  | $$
| $$    $$| $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$  | $$  | $$ /$$
|  $$$$$$/|  $$$$$$/| $$  | $$  |  $$$$/|  $$$$$$$| $$  | $$  |  $$$$/
 \______/  \______/ |__/  |__/   \___/   \_______/|__/  |__/   \__*/

.content {
    /* Size */
    flex: 1;

    /* Layout */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page {
    /* Size */
    width: min(90vh, 100vw);
    margin: 0 auto;
    padding: 0 20px 20px 20px;

    /* Layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* Other */
    transition: opacity .25s;
}

.page[hidden] {
    /* Appearence */
    opacity: 0;
}

.page-content {
    /* Layout */
    display: inherit;
    flex-direction: inherit;
    gap: inherit;
}

.page-content[hidden] {
    /* Layout */
    display: none;
}

.page-hc {
    /* Layout */
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.page-vc {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.page-hc[center], .page-vc[center] {
    /* Layout */
    align-items: center;
}

/* Logs */
.logs {
    /* Size */
    max-height: 50vh;
    padding: 10px 16px;

    /* Layout */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    /* Appearence */
    border: 2px dashed var(--onSurface);
    border-radius: 10px;
}

.log {
    /* Size */
    padding: 3px 0px;
}



 /*$      /$$
| $$$    /$$$
| $$$$  /$$$$  /$$$$$$  /$$$$$$$  /$$   /$$  /$$$$$$$
| $$ $$/$$ $$ /$$__  $$| $$__  $$| $$  | $$ /$$_____/
| $$  $$$| $$| $$$$$$$$| $$  \ $$| $$  | $$|  $$$$$$
| $$\  $ | $$| $$_____/| $$  | $$| $$  | $$ \____  $$
| $$ \/  | $$|  $$$$$$$| $$  | $$|  $$$$$$/ /$$$$$$$/
|__/     |__/ \_______/|__/  |__/ \______/ |______*/

/* Menu backdrop (click to close) */
dialog::backdrop {
    /* Visuals */
    background-color: #00000030;
}

/* Menu container */
dialog {
    /* Size */
    width: 400px;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    
    /* Spacing */
    padding: 0;
    margin: auto;

    /* Layout */
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Visuals */
    border-radius: 25px;
    background-color: var(--surface);
    border: var(--borderSoftThick);
    outline: none;
    color: var(--onSurface);
    opacity: 0;

    /* Other */
    z-index: 500;
    user-select: none;
    pointer-events: none;

    /* Open animation */
    &[open] {
        /* Visuals */
        opacity: 1;

        /* Other */
        pointer-events: auto;
    }
}

dialog:not(:modal) {
    /* Layout */
    display: none;
}

/* Menu title */
.menu-title {
    /* Text */
    /*text-transform: uppercase;*/
    font-size: 1.4em;
    line-height: 80px;
}

/* Menu list */
.menu-list {
    /* Size */
    width: 100%;

    /* Spacing */
    margin-bottom: 20px;
    padding: 0 20px;

    /* Layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.menu-list > input[type="text"] {
    /* Size */
    width: 100%;
}



 /*$$$$$$$                    /$$
|__  $$__/                   | $$
   | $$  /$$$$$$  /$$   /$$ /$$$$$$
   | $$ /$$__  $$|  $$ /$$/|_  $$_/
   | $$| $$$$$$$$ \  $$$$/   | $$
   | $$| $$_____/  >$$  $$   | $$ /$$
   | $$|  $$$$$$$ /$$/\  $$  |  $$$$/
   |__/ \_______/|__/  \__/   \__*/

h1, h2, h3 {
    /* Size */
    margin: 0;
}

h1 {
    /* Size */
    width: 100%;

    /* Appearence */
    font-family: var(--titleFont);
    text-align: center;
}

h2 {
    /* Appearence */
    font-family: var(--headerFont);
}
