 /*$$$$$$$                    /$$
| $$_____/                   | $$
| $$     /$$$$$$  /$$$$$$$  /$$$$$$   /$$$$$$$
| $$$$$ /$$__  $$| $$__  $$|_  $$_/  /$$_____/
| $$__/| $$  \ $$| $$  \ $$  | $$   |  $$$$$$
| $$   | $$  | $$| $$  | $$  | $$ /$$\____  $$
| $$   |  $$$$$$/| $$  | $$  |  $$$$//$$$$$$$/
|__/    \______/ |__/  |__/   \___/ |______*/

@font-face { 
    src: url('./assets/fonts/outfit.woff2');
    font-family: outfit;
}
@font-face { 
    src: url('./assets/fonts/opificio_bold_rounded.woff2');
    font-family: opificio;
}
@font-face { 
    src: url('./assets/fonts/fraunces.woff2');
    font-family: fraunces;
}



 /*$$$$$$                                                                    /$$
| $$__  $$                                                                  | $$
| $$  \ $$  /$$$$$$   /$$$$$$$ /$$   /$$ /$$$$$$/$$$$   /$$$$$$  /$$$$$$$  /$$$$$$
| $$  | $$ /$$__  $$ /$$_____/| $$  | $$| $$_  $$_  $$ /$$__  $$| $$__  $$|_  $$_/
| $$  | $$| $$  \ $$| $$      | $$  | $$| $$ \ $$ \ $$| $$$$$$$$| $$  \ $$  | $$
| $$  | $$| $$  | $$| $$      | $$  | $$| $$ | $$ | $$| $$_____/| $$  | $$  | $$ /$$
| $$$$$$$/|  $$$$$$/|  $$$$$$$|  $$$$$$/| $$ | $$ | $$|  $$$$$$$| $$  | $$  |  $$$$/
|_______/  \______/  \_______/ \______/ |__/ |__/ |__/ \_______/|__/  |__/   \__*/

:root {
    /* Visuals */
    color-scheme: dark; /* Use dark scrollbars/inputs */

    /* Theme (surfaces) */
    --background: #191724;
    --onBackground: #e0def4;
    --onBackgroundFilter: brightness(0) saturate(100%) invert(91%) sepia(3%) saturate(1449%) hue-rotate(205deg) brightness(98%) contrast(95%);
    --onBackgroundAlt: #da9fbc;
    --onBackgroundFilter: brightness(0) saturate(100%) invert(100%) sepia(25%) saturate(5975%) hue-rotate(281deg) brightness(90%) contrast(89%);

    --surface: #26233a;
    --onSurface: #e0def4;
    --onSurfaceFilter: brightness(0) saturate(100%) invert(91%) sepia(3%) saturate(1449%) hue-rotate(205deg) brightness(98%) contrast(95%);
    --onSurfaceAlt: #da9fbc;
    --onSurfaceFilter: brightness(0) saturate(100%) invert(100%) sepia(25%) saturate(5975%) hue-rotate(281deg) brightness(90%) contrast(89%);

    /* Text */
    --textSize: 16px;
    --textFont: outfit;
    --headerFont: opificio;
    --titleFont: fraunces;

    /* Special */
    --hover: color-mix(in srgb, var(--onBackground) 15%, transparent);
    --accent: #d46083;
    --selection: #b14d6b;

    /* Borders */
    --borderTransparent: solid 1px transparent;
    --border: solid 1px var(--onBackground);
    --borderSoft: solid 1px var(--hover);
    --borderSoftThick: solid 2px var(--hover);
}

*[theme="surface"] {
    /* Theme */
    --background: var(--surface);
    --onBackground: var(--onSurface);
    --onBackgroundFilter: var(--onSurfaceFilter);
}